.header {
        text-align: center;
        padding: 5px;
        margin-bottom: 17px;
        /* margin-left: 35px; */
        /* margin-right: 35px; */
        font-family: Oxygen, Segoe UI;
        font-size: 22px;
}
.box {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.inner-container {
    transition: visibility 0.2s ease-out;
}
.input-group {
    display: flex;
    flex-direction: column;
    margin-top: 5px;
    margin-bottom: 5px;
}

.login-label {
    font-family: Oxygen, Segoe UI;
    font-size: 20px;
    font-weight: 600;
    padding-left: 5px;
}

.login-input {
    height: 2.1em;
    border-radius: 3px;
    transition: border 0.4s ease-out;
    padding: 13px;
    font-family: Oxygen, Segoe UI;
    font-size: 19px;
    color: #3e3e42;
    background: rgba(15, 15, 15, 0.01);
    
}

.login-btn {
    padding: 2px 30px;
    background-color: #417cef;
    border: 0;
    font-size: 18px;
    border-radius: 3px;
    font-family: Oxygen, Segoe UI;
    background-color: rgba(15, 15, 15, 0.03);
    margin-top: 20px;
    border: 2px solid #417cef;
    transition: background-color 0.3s ease-out;
    cursor: pointer;
    float: right;
}